body {
    margin: 0;
    padding: 0;
    font-family: 'American Typewriter', sans-serif;
    /*font-family: 'Hi Melody', cursive, sans-serif, Serif;*/
}

header h1{
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'American Typewriter', sans-serif;
    font-size:50px;
}
header a img {
    width: 100px;
    height: 50px;
}
.cont {
    position: relative;
    overflow: hidden;
}

.cont::before
{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("http://artofmultimedia.com.au/sites/default/files/styles/adaptive/public/resources/dusty-book.jpg?itok=M9wH0VON");
    background-size:cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.cont_2 {
    position: relative;
}

.cont_2::before
{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #f6d5d2;
    display: block;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

#mainpage_info {
    color: whitesmoke;
    font-family: 'American Typewriter', cursive;
    font-size: 3.7em;
    margin: 11.4% 0;
    padding: 0.6% 60% 0.6% 25%;
    background-color: rgba(125, 127, 129, 0.23);
    text-align: center;
}

#mainpage_info:hover {
    background-color: rgba(125, 127, 129, 0.4);
}

a:link {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.page_table {
    width: 100%;
    height: 100%
}

#info_col {
    width: 45%
}

#event_col {
    width: 65%
}

.link_button {
    height: 7vh;
    font-family: TakaoPGothic;
    font-size: 2em;
    color: #475a68;
    background-color: rgba(163, 190, 215, 1);
    padding: 1.5% 2% 1.5% 2%;
}

.link_button:hover {
    background-color: rgba(163, 190, 215, 0.75);
}

a:link {
    text-decoration: none;
}

.info {
    height: 100%;
    color: #6c7b2a;
    font-family: TakaoPGothic;
    font-size: 3.7em;
    background-color: rgba(125, 127, 129, 0.35);
}

.event_block {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    background-color: rgba(71, 90, 104, 0.6);
}

.event_details {
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: stretch;
    width: 100%;
}

.name {
    background-color: #6c7b2a;
    font-size: 2.3em;
    width: 100%;
}

.name a {
    color: black;
}

.name:hover {
    background-color: rgba(108, 123, 42, 0.4);
}

.place {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    font-size: 1.7em;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    font-size: 1.7em;
}

.event_block img {
    display: flex;
    height: 165px;
    width: 260px;
}

ul {
    list-style: none;
}

li{
    margin: 3% 0;
}

.nav {
    list-style:none;
    margin: 0;
    padding: 0;
    background: rgba(125, 121, 202, 0.5);
}

.head {
    max-width:100%;
    margin:0 auto;
}
.nav li {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    min-width: 10%;
}

.nav li a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.nav li a.first {
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.hover_li {
    display: block;
}

.hover_li a {
    display: block;
    text-align: center;
}
.hidden
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.hover_li:hover .hidden {
    display: block;
}

.hidden li {
    display: block;
}
.hidden li a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.cont .head header h1
{
    float: left;
    margin: 0;
    padding: 0;
}
.cont .head header::after
{
    content: '';
    display: table;
    clear: both;
}

.cont_2 .head header h1
{
    float: left;
    margin: 0;
    padding: 0;
}
.cont_2 .head header::after
{
    content: '';
    display: table;
    clear: both;
}
.search {
    display: none;
}

.cart button {
    border:0;
    background:transparent;
    float: right;
}

.cart button:hover {
    background-color: rgba(40, 44, 44, 0.6);
}

.cont a:hover {
    background-color: rgba(40, 44, 44, 0.6);
}

.login button {
    border:0;
    background:transparent;
    float: right;
    font-size:32px;
    margin-right: 10px;
    color: #ffba4e;
}

.login button:hover {
    background-color: rgba(40, 44, 44, 0.6);
}

.login a:hover {
    background-color: rgba(40, 44, 44, 0.6);
}

.cart_image {
    width:35px;
    height:35px;
}

.head {
    background: rgba(125, 121, 202, 0.5);
}

.side_category form {
    float:left;
    width:33%;
    background: rgba(23, 77, 202, 0.5);
}

.container::after {
    content:"";
    display: table;
    clear: both;
}

.side_category b {
    font-size: 27px;
}
.side_category input {
    float: left;
}

.side_category label {
    display: block;
    border-bottom:1px solid black;
    padding-bottom:10px;
    font-size:25px;
}

#last_label {
    padding-bottom: 0;
    border-bottom: 0;
}
.side_category button {
    border:0;
    width:100%;
    background: cornflowerblue;
    float: right;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    font-size:15px;
    font-weight: bold;
}
.side_category button:hover {
    color:white;
}

.goods {
    margin-left:34%;
}
.good {
    position: relative;
    border:1px solid rgba(176, 117, 105, 0.5);
    display: inline-block;
    width:500px;
    padding-top: 15px;
    padding-right: 10px;
    margin-right: 15px;
    margin-top: 15px;
}

.good a {
    display: block;
    text-align: center;
    font-size:20px;
}
.good a:hover {
    color:antiquewhite;
}
.good img {
    width:200px;
    height:200px;
    float: left;
}

.good .author {
    font-style:oblique;
}
.good .year {
    font-style:oblique;
}
.good .description {
    display: inline;
    font-style:oblique;
    width: 200px;
    overflow: scroll;
}
.good .price {
    padding-top: 10px;
    display: block;
    text-align: right;
    font-style:oblique;
}
/*
book_page
*/
 .img img {
     width:400px;
     height:400px;
     float: left;
 }

 #book_page {
     width:1000px;
     margin:0 auto;
     margin-top: 100px;
 }

 .description_item {
     /*padding-left: 33%;*/
     margin-left: 50%;
     box-sizing: border-box;
     width:500px;
 }

 .buy_book {
     margin-top: 15px;
     display: block;
     border:0;
     background: #ffa724;
     padding: 10px 30px;
     border-radius: 5px;
     font-size:20px;
 }

.buy_book:hover {
    color:navajowhite;
    background: #6fff33;
}
.coolform
{
    margin-right: 15px;
    display: inline-block;
}

#modify_form {
    display: none;
}

#modify_form .buy_book {
    background: #0045ff;
}

#delete_form .buy_book {
    background:red;
}
#return_button {
    position: relative;
}

#return {
    position: fixed;
    bottom:100px;
    right:100px;
}

#return img {
    width:75px;
    height:75px;
}
span.block
{
    display: block;
    padding-bottom: 10px;
}

#order input[type="text"]{
    width:80%;
    height:20px;
    padding-left: 20px;
}
#order textarea {
    resize:none;
    padding-left: 20px;
}

#order_goods {
    padding-top: 50px;
    margin-left: 40%;
}

#order_goods strong {
    font-size:30px;
    display: block;
    position: relative;
    padding-bottom: 30px;
    left:-10%;
}

div.cart_good {
    display: block;
    width:200px;
    position: relative;
}

.quant {
    color:orangered;
    display: block;
    float: right;
}
.xx {
    display: block;
    position: absolute;
    top:3px;
    right: 0;
    margin-right: -17px;
}
.xx img {
    display: block;
}

#nonlogin
{
    font-size:50px;
    color:rebeccapurple;
    display: block;
}

#nonlogin a {
    display: block;
}

i.author, i.year {
    display: block;
}

i.price {
    display: block;
    float: right;
    margin-bottom:10px;
}

body#work {
    position: relative;
}

#work .log {
    color:darkblue;
    position: fixed;
    padding:10px;
    border: 1px solid darkcyan;
    border-radius:5px;
    top:30%;
    right:40%;
}

#work .log input {
    width:100%;
    height:20px;
    margin-bottom: 10px;
}

button.submit {
    border:0;
    width:100%;
    background: cornflowerblue;
    float: right;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    font-size:15px;
    font-weight: bold;
    margin-bottom: 15px;
}

button.submit:hover {
    color:white;
}

.logout {
    position: relative;
    font-family:'American Typewriter', serif;
}

.hid_log
{
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    color:navajowhite;
    font-size:15px;
    right:1px;
    z-index:500;
}

.hid_log li {
    display: block;
    padding: 0;
    margin: 0;
    text-align: right;
    padding: 10px;
    border:1px solid black;
    border-color:rgba(176, 117, 105, 0.5);
    background: rgba(176, 117, 105, 0.5);
    z-index: 5000;
}

.hid_log li a {
    text-align: right;
}

.logout:hover .hid_log
{
    display: block;
}

li.elem a {
    color:papayawhip;
}
li.elem:hover a {
    color: #faef7d;
    background: none;
}

.relative_body {
    position: relative;
}

select[name="category"]
{
    padding-bottom: 25px;
}

.quantity {
    margin-top:30px;
}

.users {
    position: fixed;
    top:50%;
    right:50%;
}

div#cart_rew {
    min-width:400px;
}

#order_page {
    min-width:600px;
}

.fullname {
    margin-top: 50px;
}
.ad {
    margin-top: 15px;
    margin-bottom: 15px;
}

.total_cost {
    padding-left: 500px;
    margin-bottom: 20px;
}
.validate_purchase {
    padding-left: 590px;
    color:orangered;
}

.validate_purchase:hover {
    color:darkgreen;
}

.wrapper {
    position: relative;
}
.xr {
    display: block;
    position: absolute;
    padding-left: 590px;
}
