b {
    font-size:2vw;
}
/*        .container{
            margin-left: 25%;
        }*/
td, th {
    /*border:1px solid black;*/
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
th {
    font-size:2vw;
}
table {
    width:100%;
    border-collapse:collapse;
}
.num {
    position: absolute;
    bottom:0px;
    left:0px;
    font-size:1vw;
}
.atom_num
{
    position: absolute;
    top:0px;
    right:0px;
    font-size:1vw;
}
.red{ background: #ff8469; }
.green { background: greenyellow; }
.dark_green { background:darkgreen; }
.orange { background: orange;}
.yellow {background:yellow;}
.blue {background:dodgerblue;}
.light_blue {background:lightcyan;}
.light { background: darkolivegreen;}
.violet {background: palevioletred;}
body {
    background: url("https://wallpapertag.com/wallpaper/full/2/2/d/252504-download-free-lion-wallpaper-hd-3840x2160-notebook.jpg");
    background-attachment: fixed;
}